- if content.errors.any?
  The following error occured
  - content.errors.each do |error|
    %li= error.message

= form_with model: content, local: true do |f|
  .row
    .col-12
      = f.label :title, 'Project title', class: 'form-label'
      = f.text_field :title, class: 'form-control', required: true
    .col-12.pt-3.pb-3
      = f.label :description_en, label: 'English description', class: 'form-label'
      = f.text_area :description_en, class: 'form-control', required: true
    .col-12.pt-3.pb-3
      = f.label :description_es, label: 'Spanish description', class: 'form-label'
      = f.text_area :description_es, class: 'form-control', required: true
    .col-12.pt-3.pb-3
      = f.label :description_de, label: 'German description', class: 'form-label'
      = f.text_area :description_de, class: 'form-control', required: true
    .col-12
      = f.label :music_url, class: 'form-label'
      = f.text_field :music_url, class: 'form-control'
    .col-12.pt-3.pb-3
      - if content.image_black.attached? && content.image_black.variable?
        = image_tag(content.image_black.variant(resize_to_limit: [75, 75]))
        = content.image_black.filename
        .form-check
          = f.check_box :remove_attached_image_white, class: 'form-check-input'
          = f.label 'Check to remove attached image', class: 'form-check-label'
    .col-12
      = f.label :image_black, label: 'Project image black', class: 'form-label'
      = f.file_field :image_black, class: 'form-control'
      %p.text-muted
        upload a new black image (as front)
    .col-12.pt-3.pb-3
      - if content.image_white.attached? && content.image_white.variable?
        = image_tag(content.image_white.variant(resize_to_limit: [75, 75]))
        = content.image_white.filename
        .form-check
          = f.check_box :remove_attached_image_white, class: 'form-check-input'
          = f.label 'Check to remove attached image', class: 'form-check-label'
    .col-12
      = f.label :image_white, label: 'Project image white', class: 'form-label'
      = f.file_field :image_white, class: 'form-control'
      %p.text-muted
        upload a new white image (as background)
    .col-12
      = f.label :audio_file, label: 'Audio example file', class: 'form-label'
      = f.file_field :audio_file, class: 'form-control'
      %p.text-muted
        upload an audio file
  .mt-3
    = f.submit t('buttons.save'), class: 'btn btn-primary'