- if content.errors.any?
  The following error occured
  - content.errors.each do |error|
    %li= error.message

= form_with model: content, local: true do |f|
  .row
    .col-12
      = f.label :video_url, label: 'Video url', class: 'form-label'
      = f.text_field :video_url, class: 'form-control', required: true
      %p.text-muted
        the URL to the youtube video
        %em https://www.youtube-nocookie.com/embed/gpSdOwjbD4Q
    .col-12
      = f.label :instrument, 'Instrument for video select buttons', class: 'form-label'
      = f.select :instrument, VideoPlayerContent.instruments.keys.map{ |instrument| [instrument.humanize, instrument] }, {required: true}, { class: 'form-control' }
  .mt-3
    = f.submit t('buttons.save'), class: 'btn btn-primary'