.footer-wrapper
  .first-part  
    = image_tag('infierno-footer-black.svg')
  .middle-part
    = social_media_helper
    %p#copyright
      = image_tag('chamaeleon.png', id: 'copyright-icon')
      copyright
      = Time.zone.now.year
      = link_to('theresamannschatz.design', 'https://theresamannschatz.design')
  .footer-text
    = contact_helper
    = link_to('admin', '#')
    = link_to('imprint', '#')
  