.footer-wrapper
  .first-part  
    = image_tag('infierno-footer-black.svg')
  .middle-part
    = social_media_helper(animation: '', direction: 'horizontal')
    = footer_copyright
  .footer-text
    = contact_helper
    = link_to(t('buttons.admin'), '#')
    = link_to(t('buttons.imprint'), '#')
  