%section.images-section#images
  .row-first
    .scene#bass-player-illustration.parallax-parent
      .parallax-back{'data-depth': 0.1}
        = image_tag('illustration/inferno-bass-player-bg-layer.svg', id: 'bass-bg')
      .parallax-front{'data-depth': 0.3}
        = image_tag('illustration/inferno-bass-player-front-layer.svg', id: 'bass-front')
    = image_tag('buttons/bass-bg-black.svg', class: 'bass-button')
  .row-second
    = image_tag('videos/laura-video-gif.gif', class: 'image-cajon-player')
    = image_tag('buttons/bass.svg', class: 'cajon-button')
    .second-row-part1
    .second-row-part2