%section.projects-section#projects
  = image_tag('projects-headline-white.svg', id: 'project-headline')
  - if admin_signed_in?
    = admin_editor_tools(main_path: 'project_content', object: @project_content)
  - @projects.each_with_index do |project, index|
    .project-wrapper{ class: "order-text-#{index.even? ? 'left' : 'right'}" }
      .project-text
        .project-title
          = project.title
        .project-content
          %p= project.public_send("description_#{I18n.locale}")
        = render('shared/music_player', url: project.music_url) unless project.music_url.empty?
        - if project.audio_file.attached?
          .mt-5.mb-5
            = audio_tag(polymorphic_path(project.audio_file), controls: true)
      .project-image
        .parallax-parent{id: "scene#{index}"}
          .parallax-front{'data-depth': 0.1}
            - if project.image_black.attached? && project.image_black.variable?
              = image_tag(project.image_black)
          .parallax-back{'data-depth': 0.15}
            - if project.image_white.attached? && project.image_white.variable?
              = image_tag(project.image_white)

:javascript
  number_images = #{@projects.length}