%section.projects-section#projects
  = image_tag('projects-headline-white.svg', id: 'project-headline')
  - if admin_signed_in?
    = admin_editor_tools(main_path: 'project_content', object: @project_content)
  .project-wrapper.order-text-left
    .project-text
      .project-title
        Tripas
      .project-content
        %p
          = t('pages.home_page.projects_section.tripas_text')
      = render 'shared/music_player'
    .project-image
      .scene2.parallax-parent
        .parallax-front{'data-depth': 0.1}
          = image_tag('illustration/craneo.svg')
        .parallax-back{'data-depth': 0.3}
          = image_tag('illustration/craneo-black.svg')
  .project-wrapper.order-text-right
    .project-text
      .project-title
        Camina
      .project-content
        %p
          = t('pages.home_page.projects_section.caminas_text')
      = render 'shared/music_player'
    .project-image
      .scene3.parallax-parent
        .parallax-back{'data-depth': 0.1}
          = image_tag('illustration/camina-black.svg')
        .parallax-front{'data-depth': 0.3}
          = image_tag('illustration/camina-white.svg')
  .project-wrapper.order-text-left
    .project-text
      .project-title
        Anti-Groove
      .project-content
        %p
          = t('pages.home_page.projects_section.anti_groove_text')
      = render 'shared/music_player'
    .project-image
      .scene4.parallax-parent
        .parallax-front{'data-depth': 0.1}
          = image_tag('illustration/antigroove-black.svg')
        .parallax-back{'data-depth': 0.3}
          = image_tag('illustration/antigroove-white.svg')
  .project-wrapper.order-text-right
    .project-text
      .project-title
        Robles Carlos Duo
      .project-content
        %p
          = t('pages.home_page.projects_section.robles_corona_duo_text')
      = render 'shared/music_player'
    .project-image
      .scene5.parallax-parent
        .parallax-back{'data-depth': 0.1}
          = image_tag('illustration/craneo.svg')
        .parallax-front{'data-depth': 0.3}
          = image_tag('illustration/craneo-black.svg')
  .project-wrapper.order-text-left
    .project-text
      .project-title
        Astrocombo
      .project-content
        %p
          = t('pages.home_page.projects_section.astrocombo_text')
      = render 'shared/music_player'
    .project-image
      .scene6.parallax-parent
        .parallax-front{'data-depth': 0.1}
          = image_tag('illustration/astrocombo-black.svg')
        .parallax-back{'data-depth': 0.2}
          = image_tag('illustration/astrocombo-white.svg')