%section.video-section#videos
  = image_tag('video-header.svg', id: 'video-header')
  = image_tag('laura-portrait.svg', id: 'laura-portrait-video')
  .section.full-height.over-hide.px-4.px-sm-0
    .container
      - if admin_signed_in?
        .row.justify-content-md-center
          .col-1
            = admin_editor_tools(main_path: 'video_player_content', object: @video_content)
      .row.full-height.justify-content-center
        .col-lg-10.col-xl-8.align-self-center.padding-tb
          .section.mx-auto.text-center.slider-height-padding
            - @videos.each_with_index do |video, index|
              %input.checkbox{name: "slider", type: "radio", id: "slider-#{index+1}", class: ordinalize(index+1), checked: ('checked' if index == 0), value: "#{index+1}"}/
              %label.hovertext{class: "bg-#{video.instrument}", for: "slider-#{index+1}", 'data-hover': video.instrument.humanize }
            %ul
              - @videos.each_with_index do |video, index|
                %li{class: "video-wrapper", id: "video-#{index+1}"}
                  %iframe{:allow => "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube-nocookie.com/embed/#{video.video_url}", :title => "YouTube video player"}