.start-section
  .navigation
    #paper-back
      %nav
        .close
          = link_to('Music', '#')
          = link_to('About', '#')
          = link_to('Projects', '#')
          = link_to('Contact', '#')
    #paper-window
      #paper-front
        .hamburger
          %span
        #container
          %section
            .hero-image
            .language-selection
              = link_to('DE', '#')
              = '/'
              = link_to('EN', '#')
              = '/'
              = link_to('ES', '#')
            .social-media
              = link_to '#' do
                %i.fa-brands.fa-facebook-f
              = link_to '#' do
                %i.fa-brands.fa-instagram
          %section
            TEST
          %section
            %h1 Music
