.main-section
  .navigation
    #paper-back
      %nav
        .close
          = navigation_items_html_safe
    #paper-window
      #paper-front
        .hamburger
          %span
        #container
          #navline.mobile
          %section.start-section{'data-turbo': "false"}
            = social_media_helper(animation: 'fa-flip', direction: 'vertical')
            = language_selection_html_safe
          = render 'video_section'
          = render 'news_section'
          = render 'about_section'
          = render 'images_section'
          = render 'projects_section'
          = render 'shared/footer'