.start-section
  .navigation
    #paper-back
      %nav
        .close
          = link_to('Music', '#')
          = link_to('About', '#')
          = link_to('Projects', '#')
          = link_to('Contact', '#')
    #paper-window
      #paper-front
        .hamburger
          %span
        #container
          %section.start-section
            .social-media.fa-2x.fa-fw
              = link_to '#' do
                %i.fa-brands.fa-facebook-square.fa-flip
              = link_to '#' do
                %i.fa-brands.fa-instagram-square.fa-flip
              = link_to '#' do
                %i.fa-brands.fa-solid.fa-square-envelope.fa-flip
            .language-selection
              = link_to('DE', '#')
              = '/'
              = link_to('EN', '#')
              = '/'
              = link_to('ES', '#')
          %section.video-section
            .section.full-height.over-hide.px-4.px-sm-0
              .container
                .row.full-height.justify-content-center
                  .col-lg-10.col-xl-8.align-self-center.padding-tb
                    .section.mx-auto.text-center.slider-height-padding
                      %input#slide-1.checkbox.frst{'checked': "checked", 'name': "slider", 'type': "radio"}/
                      %label{for: "slide-1", style: "background-image: url('https://assets.codepen.io/1462889/sl1.jpg');"}
                      %input#slider-2.checkbox.scnd{'name': "slider", 'type': "radio"}/
                      %label{for: "slider-2", style: "background-image: url('https://assets.codepen.io/1462889/sl2.jpg');"}
                      %input#slider-3.checkbox.thrd{'name': "slider", 'type': "radio"}/
                      %label{for: "slider-3", style: "background-image: url('https://assets.codepen.io/1462889/sl3.jpg');"}
                      %input#slider-4.checkbox.foth{'name': "slider", 'type': "radio"}/
                      %label{for: "slider-4", style: "background-image: url('https://assets.codepen.io/1462889/sl4.jpg');"}
                      %ul
                        %li{style: "background-image: url('https://assets.codepen.io/1462889/sl1.jpg');"}
                          %span MALE GOOFY FACE
                        %li{style: "background-image: url('https://assets.codepen.io/1462889/sl2.jpg');"}
                          %span TOY PIG
                        %li{style: "background-image: url('https://assets.codepen.io/1462889/sl3.jpg');"}
                          %span SHY PORTRAIT
                        %li{style: "background-image: url('https://assets.codepen.io/1462889/sl4.jpg');"}
                          %span SKATEBOARD FACE
          %section
            %h1 Music
