.start-section
  .navigation
    #paper-back
      %nav
        .close
          = link_to('Music', '#')
          = link_to('About', '#')
          = link_to('Projects', '#')
          = link_to('Contact', '#')
    #paper-window
      #paper-front
        .hamburger
          %span
        #container
          %section
            .hero-image
              .social-media.fa-2x.fa-rotate-by
                = link_to '#' do
                  %i.fa-brands.fa-facebook-square.fa-bounce
                = link_to '#' do
                  %i.fa-brands.fa-instagram-square.fa-bounce
                = link_to '#' do
                  %i.fa-brands.fa-solid.fa-square-envelope.fa-bounce
            .language-selection
              = link_to('DE', '#')
              = '/'
              = link_to('EN', '#')
              = '/'
              = link_to('ES', '#')
          %section
            TEST
          %section
            %h1 Music
