.start-section
  .navigation
    #paper-back
      %nav
        .close
          = link_to('Music', '#')
          = link_to('About', '#')
          = link_to('Projects', '#')
          = link_to('Contact', '#')
    #paper-window
      #paper-front
        .hamburger
          %span
        #container
          %section.start-section
            .social-media.fa-2x.fa-fw
              = link_to '#' do
                %i.fa-brands.fa-facebook-square.fa-flip
              = link_to '#' do
                %i.fa-brands.fa-instagram-square.fa-flip
              = link_to '#' do
                %i.fa-brands.fa-solid.fa-square-envelope.fa-flip
            .language-selection
              = link_to('DE', '#')
              = '/'
              = link_to('EN', '#')
              = '/'
              = link_to('ES', '#')
          %section.video-section
            .section.full-height.over-hide.px-4.px-sm-0
              .container
                .row.full-height.justify-content-center
                  .col-lg-10.col-xl-8.align-self-center.padding-tb
                    .section.mx-auto.text-center.slider-height-padding
                      %input#slide-1.checkbox.frst{'checked': "checked", 'name': "slider", 'type': "radio"}/
                      %label.bg-cajon{for: "slide-1"}
                      %input#slider-2.checkbox.scnd{'name': "slider", 'type': "radio"}/
                      %label.bg-bass{for: "slider-2"}
                      %input#slider-3.checkbox.thrd{'name': "slider", 'type': "radio"}/
                      %label.bg-cajon{for: "slider-3"}
                      %input#slider-4.checkbox.foth{'name': "slider", 'type': "radio"}/
                      %label.bg-bass{for: "slider-4"}
                      %input#slider-4.checkbox.foth{'name': "slider", 'type': "radio"}/
                      %ul
                        %li.video-wrapper
                          %iframe{:allow => "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/VfAlUSPLzNk?start=230", :title => "YouTube video player"}
                        %li.video-wrapper
                          %iframe{:allow => "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/gpSdOwjbD4Q", :title => "YouTube video player"}
                        %li.video-wrapper
                          %iframe{:allow => "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/orwZBgfxqoo", :title => "YouTube video player"}
                        %li.video-wrapper
                          %iframe{:allow => "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/LLWE7mp-Yg8", :title => "YouTube video player"}
          %section
            %h1 Music
