= render 'shared/simple_navigation', target: get_current_page_path(request)

.container.mt-3.mb-5
  %h1= t('pages.imprint.header')
  - if admin_signed_in?
    = link_to('Edit', edit_imprint_content_path(@imprint_content), class: 'btn btn-primary')

  .contact-info.pt-5
    %h2= t('imprint_contents.contact')
    %ul.fa-ul
      %li
        %span.fa-li
          %i.fa-regular.fa-id-badge
        = @imprint_content.name
      %li
        %span.fa-li
          %i.fa-regular.fa-map
        = @imprint_content.address
      %li
        %span.fa-li
          %i.fa-solid.fa-phone
        = @imprint_content.phone
      %li
        %span.fa-li
          %i.fa-solid.fa-envelope
        = @imprint_content.email
      %li
        %span.fa-li
          %i.fa-solid.fa-percent
        = @imprint_content.tax_number

  .image-links.pt-5
    %h2= t('pages.imprint.copyright')
    %p= @imprint_content.public_send("copyright_#{I18n.locale.to_s}").html_safe

  .cookie.pt-5
    %h2 Cookie banner information
    = render partial: 'shared/cookie_banner', locals: { style: 'display: block; position: unset;', closing_button_style: 'display: none;' }

= render 'shared/footer'