!!!
%html
  %head
    %title LauraRoblesWebapp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"}
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag 'favicons/favicon.ico'
    = render 'shared/favicons'
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    - flash.each do |type, msg|
      - if type == 'notice'
        .alert.alert-info
          = msg
      - else
        .alert.alert-danger
          = msg
    = yield
